.kdykde {
    position:relative;
    padding-left: 20%;
    padding-top:3%;
    padding-bottom:3%;
}
.kdykde::after{
content:'';
position: absolute;
inset: 0;
z-index: -1;
background-color: #605A56;
mix-blend-mode: multiply;

}


.kdykde a{
    text-decoration: underline;
    color: #FFFFFF;

}
.kdykde h2{
    text-transform: uppercase;
    padding-left: 10%;
    font-size: larger;
}
.radek{
    display: flex;
    padding-top:30px;
    padding-right: 1%;
    align-items: center;
}
.radek p {
    padding-left: 5px;
  
    line-height: 120%;
    font-weight: 100;
}


.sponzori img{
    
    padding-bottom: 40px;
}

.red-sponzori{
    display: flex;
  justify-content: center;
    width:100%;
}

.sponzori{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tesit h4{
    padding:60px;
}

/* Media Query for mobile devices */
@media screen and (max-width: 767px) {
    /* Adjust styles for mobile devices here */
    .kdykde {
        padding-left: 0; 
        padding: 50px 0px;
    }

    .kdykde h2 {
        padding-left: 0; /* Reset left padding */
        text-align: center; /* Center align heading */
        padding-bottom: 20px;
    }

    .radek {
        display: flex;
        flex-direction: column; /* Change flex direction to column */
        align-items: center; /* Center align items */
        padding-left: 0px;
    }


    .radek p {
        padding-left: 0; /* Reset left padding */
        text-align: center; /* Center align paragraphs */
        padding-right:0
    }
.red-sponzori{
    flex-direction: column;
    justify-items: center;
}
    .sponzori img {
        padding-bottom: 20px; /* Reduce bottom padding */
    }
}