.nadpis-reg {
    padding-top: 30px;

}

.panel3 hr {
    border: 1px solid #BA110F;
    width: 50%;
    text-align: center;

}

.red-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5%;
    width: 100%;

}

.red-text hr {
    border: 1px solid #BA110F;
    width: 50%;
}

.tesit {
    width: 800px;
    margin: auto;
    text-align: center;
    padding-top: 30px;
}

.tesit h6 {
    padding-bottom: 40px;
    padding-top: 30px;
}

.red-text H2 {
    font-size: 31px;
    text-transform: uppercase;
    color: #880101;
    margin: 30px;
    padding: 5px;
}

.red-text p {
    color: #BA110F;
    text-align: center;
    padding-top: 30px;
    font-weight: bold;
}

.uvodnitext {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    margin: auto;
}

.uvodnitext p {
    line-height: 140%;
}


.uvodnitext .sipka {
    border-color: #BA110F;
    margin-top: 30px;
    padding: 10px 20px;
    border-width: 2px;
    border-color: #BA110F;
    border-style: solid;
    background-color: transparent;
    /* Button background color */
    color: #BA110F;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
}

/* Hover effect */
.sipka:hover {

    background-color: rgb(252, 250, 250);


}


.pravidla a {
    color: #BA110F;
    text-decoration: underline;
    font-weight: 400;
}

.uvodnitext a {
    text-decoration: underline;
    color: #BA110F;
}



.red-intro {
    display: flex;
    flex-direction: column;

}

.red-intro h4 {

    padding-top: 3em;
}

.panely1 {
    display: flex;
    justify-content: center;

}

.panely1 h3 {
    padding: 10px;

}

.panely1 p {
    padding: 10px;
    line-height: 150%;
}

.panely1 li {
    line-height: 140%;
}



.panely li {
    line-height: 120%;
}

.panely1 button {
    width: 150px;
    padding: 10px;
    border-style: solid;
    border-color: #BA110F;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.panel3 {
    border-color: #880101;
    border-style: solid;
    border-width: 2px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
    margin: 5em 1em;
    border-radius: 6px;
    width: 270px;
    height: fit-content;

}


.bilej {
    color: #FFFFFF;
}


.panel3 h2 {
    text-transform: uppercase;
    color: #BA110F;
    text-align: center;
    padding-top: 15px;
    padding-bottom:10px;

}

.panel3 a {
    text-decoration: underline;
    color: #FFFFFF;
}

.cerveny-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cerveny-panel p {
    font-size: large;
    line-height: 150%;
}

.posledni {
    padding-top: 20px;
    text-align: center;
}

.panel4 {
    border-width: 2px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 5px;
    margin: 1em 1em;
}

.program {

    background-color: #43362f
}

.program h2 {
    padding: 30px;
    display: flex;
    justify-content: center;
}

.zmena-programu {
    padding-top: 10px;
}


.kus-programu {
    position: relative;
    margin-bottom: 5px;
    padding-bottom: 5px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    width: 260px;
    margin: 10px;
    border-color: white;
    border-style: solid;
    border-width: 2px;
    border-radius: 6px;
    height: fit-content;
}


.kus-programu li {
    line-height: 150%;
    padding: 7px;
}

.kus-programu hr {
    width: 60%;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid white;
}

.kus-programu h3{
    padding-bottom:10px;
}

.kus-panelu {
    position: relative;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.kus-panelu::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    background-color: #BA110F;
    mix-blend-mode: multiply;
    border: #BA110F;
    border-radius: 4px;
    padding: 5px;
}



.redbox button {
    width: 10%;
    height: 35px;

}

.hnedy-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pravidla {
    display: flex;
    justify-content: center;
    width: 80%;
    text-align: center;
}

.cudlik {
    color: #BA110F;
    background-color: #FFFFFF;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 6px;
    border-radius: 3px;
    margin-bottom: 15px;

}



.cudlik a {
    color: #BA110F;
    text-decoration: none;
    font-weight: bold;
}

.ozvi a {
    color: white;
}

.planek-akce {
    background-image: url(planek-akce.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    margin-bottom: 30px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.planek-akce div {
    padding: 15px;
    text-align: center;
    color: #FFFFFF;
    background-color: transparent;
    border-color: #FFFFFF;
    border-style: solid;
    border-radius: 4px;
    border-width: 2px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 31px;

}


.planek-akce a {
    text-decoration: underline;
    color: #FFFFFF
}

.obdelnik {
    margin: auto;
    border: #FFFFFF;
    padding: 2%;
    border-style: solid;
    width: 800px;
    column-count: 2;
    column-gap: 20px;
}

.red-hra {
    background-color: #880101;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 30px;
}

.nad-obdelnikem H2 {
    padding-top: 5%;
}

.obdelnik p {
    margin-bottom: 15px;
    margin-right: 10px;
    margin-left: 10px;
    line-height: 120%;
}

.obdelnik h3 {
    margin-top: 15px;
    margin-bottom: 10px;
}

.obdelnik img {
    margin-left: 37%;

}

.prvni {
    display: flex;
    flex-direction: row;

}

.pismeno {
    padding-right: 15px;
}

.prvni img {

    padding: 5px;
    width: 100px;
    height: auto;
    margin: auto;
}

.nad-obdelnikem {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 20px 0px;
    width: min(500px, 60%);

}

.nad-obdelnikem p {
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 20px;
}

.red-panely {
    display: flex;
    align-items: flex-start;
    margin: 4em;
    justify-content: center;
}

.red-panely p {
    padding: 5px;
    line-height: 130%;
}

.red-panely H3 {
    padding: 2%
}

.red-panely li {
    line-height: 150%;
}

.kontakty {

    background-color: #43362f;
    margin-top: 30px;
    margin: auto;
    padding-top: 50px;
}

.kontakty h2 {
    margin: auto;
    text-align: center;

}

.seznam-kontaktu {
    /* width:1000px; */
    display: flex;
    padding: 2%;

}

.kontakt {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1%;
    width: 230px;
    align-items: center;
    border: white;
    border-style: solid;
    border-radius: 4px;
    margin: 2%;
}
.kontakt p{
    padding-top: 5px;
}
.kontakt H4 {
    text-transform: uppercase;
    line-height: 120%;
    padding-bottom: 4px;
}

.kontakt a {
    padding: 2%;
    text-decoration: underline;
    color: #FFFFFF;
}

.sloupecek2 {
    width: 310px;
    padding-bottom: 3em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;
}

.sloupecek2 p {
    padding: 5%;
    line-height: 150%;
}

.sloupecek2 li {
    padding: 1px;
}

.sloupecek5 {
    width: 260px;
    padding-bottom: 3em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;

}

.sloupecek5 h2{
    padding-bottom: 10px;
}

.sloupecek5 p {
    padding: 5%;
}

.sloupecek5 li {
    padding: 1px;
}

.sloupecek5 h6 {
    padding: 14px;
}

.sloupecek5 hr {
    width: 70%;
    border: 1px solid white;
}

.deti {
    padding-top: 20px;
}

.zakolik {
    padding-top: 10px;
}

.red-intro .sloupecek h4 {
    padding: 0px;
}

.sloupecek2 h2 {
    padding: 15px;
    margin-bottom: 20px;
}

.sloupecek2 .button {

    width: 150px;
    padding: 10px;
    border-style: solid;
    border-color: #BA110F;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    font-weight: bolder;
}

.kontakt hr {
    border: 1px solid white;
    width: 70%;
}

@media screen and (max-width: 1020px) {

    .red-obsah,
    .panel4,
    .pravidla {
        flex-direction: column;
        align-items: center;
    }

    .tesit {
        width: 60%;
        font-size: 20px;
    }

    .obdelnik {
        column-count: 1;
        padding: 20px;
        width: 80%;
        text-align: start;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .obdelnik img {
        margin: 0px;
    }
}

/* Media Query for smaller screens */
@media screen and (max-width: 767px) {

    /* Adjust styles for smaller screens here */
    .panel3,
    .sloupecek2 {


        /* Remove margins */
        padding: 5px;
        /* Add padding for better spacing */
        text-align: center;
        /* Center align text */
        margin-left: 0;
        margin-right: 0;

    }

    .sloupecek2 {
        margin-bottom: 20px;
        margin-top: 30px;
    }

    .sloupecek2 h2 {
        margin: 0px;
    }

    .tesit {

        font-size: 25px;

    }
.cudlik{
    padding: 10px;
    margin-bottom:20px;
}
    .tesit h5 {
        line-height: 150%;
    }

    .sloupecek5 {
        margin-top: 20px;
        margin-top: 30px;
    }

    .sloupecek5 h2{
        padding-bottom: 10px;
    }


    .uvodnitext {

        /* Make the introduction text full width on smaller screens */
        padding: 1rem;
        /* Add padding for better spacing */
        text-align: center;
        /* Center align text */
        border: none;
        /* Remove border */
        width: 70%;
    }

    .uvodnitext .sipka {
        display: flex;


    }

    .panely1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

    }

    .planek-akce {
        height: auto;
        /*for planek-akce section */
    }

    .planek-akce .planek {
        padding: 50px;
        /* Adjust padding for planek buttons */
    }

    .obdelnik {

        /* Auto width for obdelnik section */
        column-count: 1;
        /*Single column layout for obdelnik */
        column-gap: 0;
        /* No column gap */
        padding: 20px;
        width: 80%;
        text-align: start;
    }

    .obdelnik p {
        font-size: larger;
    }

    .pravidla {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .panel4 {
        flex-direction: column;
        width: 80%;
        align-items: center;
    }

    .kus-programu {

        margin: 20px;

    }

    .hnedy-panel {
        width: 100%;
        text-align: center;

    }

    .hnedy-panel p {
        line-height: 130%;
        padding: 10px 15px;

    }

    .nad-obdelnikem {
        /* Auto width for nad-obdelnikem section */
        padding: 15px;
        width: 80%;
    }

    .nad-obdelnikem p {
        line-height: 120%;
    }

    .kus-panelu {
        margin: 10px;

    }

    .kus-panelu h3 {
        padding-bottom: 10px;
    }

    .kus-panelu li {
        line-height: 130%;
    }

    .planek-akce {
        height: 50vh;
    }

    .cerveny-panel {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
    }

    .program {
        display: flex;
        flex-direction: column;
        align-items: center;

    }


    .red-panely {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        margin: auto;
    }

    .red-panely p {
        font-size: larger;

    }

    .red-intro {
        align-items: center;
    }

    .kontakt h4 {
        width: 100%;
        padding: 5px;
        /* Auto width for kontakt h2 */
    }

    .kontakty {
        padding: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;

        /* Adjust padding for kontakt section */
    }

    .kontakty p {
        font-size: larger;
    }

    .seznam-kontaktu {
        flex-direction: column;
        /* Column layout for seznam-kontaktu */
        align-items: center;
        /* Center align items */
        width: 70%;
    }

    .kontakt {
        width: 100%;
        /* Adjust width of kontakt items */
        margin: 10px 0;
        padding: 10px;
        /* Adjust margin for better spacing */
    }

    .panel3 {
        margin-top: 15px;
        margin-bottom: 15px;
    }
}