@font-face {
    font-family: 'AntoniaH3';
    src: local('Antonia H3 Light'), local('Antonia-H3-Light'),
        url('AntoniaH3-Light.woff2') format('woff2'),
        url('AntoniaH3-Light.woff') format('woff'),
        url('AntoniaH3-Light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}


* {
    font-family: 'AntoniaH3', serif;
}

/*'Georgia', 'Times New Roman', Times,*/

p {
    font-size: 17px;
}

h2 {
    font-size: 31px;
    /* netučný, velký písmena*/

}

h3 {
    font-size: 31px;
    /* tučný malý písmena*/
    font-weight: bold;
}

h4 {
    font-size: 17px;
    text-transform: uppercase;
}

h4 {
    text-align: center;
}

h5 {

    text-transform: uppercase;
    font-size: 17px;
}

.red-obsah {

    display: flex;

    justify-content: center;
    padding-bottom: 50px;
    width: 100%;

}

.red-obsah a {

    text-decoration: none;
    text-decoration: underline;
    color: #FFFFFF;
    padding-bottom: 3%;
}

.red-obsah p {
    padding-bottom: 2%;
}

.red-obsah li {
    line-height: 130%;

}

li:last-child {
    padding-bottom: 15px;
}

.red-obsah h5 {

    padding-bottom: 2px;
}

body p {
    font-size: 17px;

}




header h1 {
    color: #BA110F;
    text-align: center;
    font-size: 31px;
    padding-top: 20px;
    padding-bottom: 10px;
}


.hlava hr {
    border: 1px solid #BA110F;
    width: 200px;
}

.label h5 {
    padding-top: 1em;
    padding-bottom: 0.5em;
}

.nad-panelama {
    width: 1000px;
    padding: 45px 0px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nad-panelama h3{
padding-bottom: 40px;
}

.chcete {
    color: #BA110F;
}

.panely {
    display: flex;
    margin-right: 100px;
    margin-left: 100px;

}

.panely p {
    padding: 5px;
}

.panely H3 {
    margin-top: 10px;

    line-height: 130%;
    padding: 2%;
}

.panel1 {
    border-color: #880101;
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;
    text-align: center;
    margin: 1rem;

    width: 250px;

}

.panel1 .red-intro {

    height: 370px;
}


.panel2 {
    border-color: #BA110F;
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;
    color: #BA110F;
    text-align: center;
    margin: 1rem;

    width: 250px;
    z-index: 1000;
}

.panely a {
    text-decoration: underline;
}

.panel1 a {
    color: white;

}

.panel1 .registrovat {
    color: #BA110F;
    text-transform: uppercase;

    text-decoration: none;
    border-color: #BA110F;
}


.panel1 hr {
    width: 200px;
    border: 1px solid white;
}


.panel2 a {
    color: #BA110F;

}

.panely button,
.sloupecek2 button {
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 5%;
    border-style: solid;
    border-color: #BA110F;
}


.panel2 hr {
    border: 1px solid #BA110F;
    width: 200px;
}


.panely p {
    line-height: 140%;

}

.panel1 h2 {
    text-transform: uppercase;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 31px;
}

.panel2 h2 {
    text-transform: uppercase;
    padding-top: 20px;
    font-size: 31px;
    padding-left: 30px;
    padding-right: 30px;


}

.bojovnik {
    /* display: flex;
    */
    /* justify-content: center; */
}

.bojovnik-1 {

    position: absolute;
    margin-top: -605px;
    right: 0;
    display: flex;
    z-index: 1;
}

.sponzori-obal {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

}


@media screen and (max-width: 1100px) {
    .bojovnik-1 {
        display: none;
    }

    .bojovnik {
        display: flex;
        justify-content: center;

    }

    .panely {
       
        padding: 40px 0px;
    }
}

@media screen and (max-width: 767px) {
    .panely {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        margin: auto;
    }

    p {
        font-size: larger;

    }

    .tesit h4 {
        padding: 40px 20px;

    }

    .red-obsah {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 0px;


    }

    .panel1 .red-intro{
        height:380px
    }

    .panel2 {
        margin-top: 40px;
        height: 420px;

    }

    .bojovnik-1 {
        display: none;
    }

    .logo img {

        display: block;
        margin-top: 0px;
    }

    header H1 {
        font-size: 1em;
        padding-top: 10px;
    }

    .copy {
        text-align: center;
    }

    .copy H4 {
        text-align: center;
    }

    .uvod h2 {
        text-align: center;
        line-height: 120%;
    }
    .panel1 H2, .panel2 H2{
        line-height: 120%;
    }
    

}