footer {
    background-color: white;
    background-image: linear-gradient(#43362f, #221b18 50%);
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFFFFF;
    isolation: isolate;
    height: auto;
}

footer H4 {
    padding-bottom: 7px;
}

.pozadi-footeru {
    position: relative;
    width: 100%;
}



.mail-svihov {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 340px;
    position: relative;
    margin-top: 20px;
    padding-top: 40px;
    width: 100%;

}

.mail-svihov p {
    line-height: 150%;


}

.u-cary {
    color: #a0a0a0;
}

.mail-svihov a {
    color: #FFFFFF;
    text-decoration: none;
    padding-top: 5%;
    font-size: larger;

}


.bojovnici2 {
    width: 100%;
    position: absolute;
    margin-top: -95px;
    margin-left: -25%;
    display: flex;
    z-index: -1;
}

.copy {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 30px;
    padding-top: 20px;
    font-size: 15px;
}


.copyright-info {
    color: #a0a0a0;

}

.pink {

    color: #a0a0a0;
    padding-left: 20px;
}

.mail {
    padding: 20px;
}

.u-cary {
    height: 220px;
    display: flex;
    align-items: flex-end;
}

hr {
    width: 50%;
    border-style: solid color #a0a0a0;
}

@media screen and (max-width: 1100px) {
    .bojovnici2 {
        display: none;
    }


    :root p,
    h4,
    H5,
    li {
        font-size: 20px;
    }
}

/* Media Query for mobile devices */
@media screen and (max-width: 767px) {

    /* Adjust styles for mobile devices here */
    .bojovnici2 {
        display: none;
        /* Hide the .bojovnici2 class for cell phones */
    }

    .mail-svihov {
       
        width: 100%;
    }

    .mail-svihov a {

        padding-bottom: 30px;
    }

    .kontakt {
        /* width: 40%; */

    }

    .copy {
        flex-direction: column;
        align-items: center;
    }

    .u-cary {
        padding-top: 30px;
        width: 80%;
       
    }
    .copy p{
        font-size: 17px;
        padding:5px;
    }
}