.red-section {
    background-image: url(svihov-bezove-pozadi-nejmensi.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position: initial;
    color: #FFFFFF;
    min-height: 100%;
    isolation: isolate;
    width: 100%;

}

.red-obsah {
    width: 80%;
    padding: 50px 0;


}



.odstavec1 {
    color: #BA110F;
    text-align: center;
    font-weight: bold;
    width: 280px;
    padding: 15px;
}


.odstavec2 {
    color: #BA110F;
    text-align: center;
    font-weight: bold;
    width: 280px;
    padding: 15px;
}

.uvodnislovo {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 30px;
}

hr {
    width: 300px;
    color: #BA110F;
}

.uvodnislovo p {
    padding-bottom: 10px;
    line-height: 150%;
}

.hlava {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding-top: 100px;

}

.uvod {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.red-intro {
    position: relative;

}

.red-intro::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    background-color: #BA110F;
    mix-blend-mode: multiply;
}


.red-intro h4 {
    font-size: larger;
    padding-top: 2em;

}



.sloupecek {


    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    cursor: pointer;
    width: 17%;
    padding-left: 5px;
    padding-right: 5px;
}

.uvod h2 {
    padding: 50px;
}

.sloupecek h3 {
    text-transform: uppercase;
    font-size: 31px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 3px;
}

.sloupecek h5 {
    padding-top: 10px;
}

.sloupecek p {
    text-align: center;
    padding-top: 1em;
    line-height: 120%;
}

.sloupecek ul {
    padding-top: 8px;
}

.sloupecek li {
    display: flex;
    justify-content: center;
}

.sloupecek li a {
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    text-align: center;
    padding-bottom: 5px;
    ;
}

body {
    background-color: #B29A8A;
    color: #FFFFFF;
    isolation: isolate;
    width: 100%;
}

.content {
    display: none;
}

.logo img{
    max-width: 100%;
    height:auto;
}

/* Click effect */
.sipka:active {
    transform: translateY(2px);
    /* Move the button down slightly on click */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    /* Add a slight shadow on click */
}

/* Default link style */
@media screen and (max-width: 1010px) {
    .red-section {
        background-attachment: fixed;
        width: 100%;
    }
}

/* Media Query for mobile devices */
@media screen and (max-width: 767px) {

    /* Adjust styles for mobile devices here */
    .sloupecek {
        width: 100%;
        /* Adjust width to fit mobile screens */
        padding-bottom: 3em;
        /* Adjust padding as needed */
    }

    :root h1,
    h2,
    h3 {
        font-size: 31px;
    }

    :root p,
    li,
    h4,
    h5 {
        font-size: 20px;
    }

    .red-section {
        background-attachment: fixed;
        width: 100%;
    }

    .sipka {
        display: none;
    }

    .header {
        width: 100%;
    }

    .red-intro {
        width: 100%;
    }

    .hlava {
        margin-bottom: 30px;
    }

    .uvodnislovo {
        flex-direction: column;
        align-items: center;

    }

}