.kdykde {
    position: relative;
    padding-left: 20%;
    padding-top: 50px;
   padding-bottom:50px;
}

.kdykde::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    background-color: #605A56;
    mix-blend-mode: multiply;

}


.kdykde a {
    text-decoration: underline;
    color: #FFFFFF;

}

.kdykde h2 {
    text-transform: uppercase;
    padding-left: 10%;

}

.radek {
    display: flex;
    padding-top: 30px;
    padding-right: 1%;
    align-items: center;
}

.radek p {
    padding-left: 5px;

    line-height: 120%;
    font-weight: 100;
}


.sponzori img {

    padding: 40px;
}

.sponzori h2 {
    padding: 40px;
}

.red-sponzori {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-right: 45px;
    margin: auto;
}

.sponzori {
   
    display: flex;
    flex-direction: column;
    align-items: center;
}

#caroli {
    padding-left: 50px;
}

#jtze {
    padding-left: 25px;

}


#logo-hrad {
   
    padding-top: 40px;
    padding-bottom: 45px;
    padding-right: 60px;
   

}

#importo {
    padding-left: 20px;
    padding-right: 50px;
}

#mesto {
    padding-right: 50px;
}

.tesit h4 {
    padding: 60px;
}



/* Media Query for mobile devices */
@media screen and (max-width: 767px) {

    /* Adjust styles for mobile devices here */
    .kdykde {
        padding-left: 0;
        /* padding: 50px 0px; */
    }

    .kdykde h2 {
        padding-left: 0;
        /* Reset left padding */
        text-align: center;
        /* Center align heading */
        padding-bottom: 20px;
    }

    .radek {
        display: flex;
        flex-direction: column;
        /* Change flex direction to column */
        align-items: center;
        /* Center align items */
        padding-left: 0px;
    }


    .radek p {
        padding-left: 0;
        /* Reset left padding */
        text-align: center;
        /* Center align paragraphs */
        padding-right: 0
    }

    .red-sponzori {
        flex-direction: column;
        justify-items: center;
        padding-bottom:40px;
        padding-right:0px;
    }

    .sponzori img {
        /* padding-bottom: 20px; */
        /* Reduce bottom padding */
        padding-left: 0px;
        padding-right: 0px;
       
    }
    #caroli{
        padding-left: 0px;
        padding-bottom: 80px;
        padding-top:80px;
        padding-right: 0px;
    }
    #jtze{
        padding-top:80px;
        padding-right: 0px;
        padding-left: 0px;
    }
    #importo{
        padding-top:80px;
        padding-right: 0px;
        padding-left: 0px;
    }
    #mesto{
        padding-top:40px;
        padding-right: 0px;
        padding-left: 0px;
    }
    #logo-hrad{
        padding-right: 0px;
        padding-left: 0px;
    }
}